* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
 /*Generales*/

img{
    width: 100%;
}

/* Css del Nav */


#nav-container {
    width: 100%;
    background: rgb(38, 37, 37);
    padding: 1rem 4rem;
}

#nav-container img{
    width: 5rem;
    border-radius: 100%;
    border: 0.2rem solid rgb(237, 234, 234);
}

/* Css Info De usuario */

.info-Container-Total{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.info-Container-Total .info-container{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);/*Esto lo que hace es en el eje y moverlo -50% ya que este inicia en el 50% para abajo y no queda centrado*/
    display: flex;
}

.info-Container-Total .info-container .foto-container img{
    width: 20rem;
    border-radius: 100%;
    margin-right: 4rem;
}

.info-Container-Total .info-container .info-text-container{
    color: white;
}
.info-Container-Total .info-container .info-text-container h2{
    font-size: 2.3rem;
    margin-top: 2rem;
}

.info-Container-Total .info-container .info-text-container p {
    font-size: 1.7rem;
    font-weight: bold;
}

.info-Container-Total .info-container .info-text-container span{
    display: inline-block;
    margin-bottom: 7rem;
    font-size: 2rem;
}

/* Css del Resumen y redes sociales*/

main{
    padding: 10rem;
}

.description-container{
    width: 100%;
}

.description-container p{
    font-size: 1.7rem;
    margin-bottom: 5rem;
}

.description-container .icons-container {
    display: flex;
    justify-content: center;
}

.description-container .icons-container .icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 4.5rem;
    margin-left: 1rem;
    border-radius: 0.5rem;
}

.description-container .icons-container #platzi{
    background: #121f3d
}

.description-container .icons-container #github{
    background: #23272d
}

.description-container .icons-container #linkedin {
    background: #0077b0
}

.description-container .icons-container #twitter{
    background: #1da1f2
}


